* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


body{
    margin: 10px 10px 10px 10px;
}


#select{
margin-top: 100px;
    width: 20%;

    #tipos{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #precio{
        margin-top: 10px;
        margin-bottom: 10px;
    }

}



#tienda {
    
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    #destacados {
        
      width: 100%;
        display: flex;
        flex-wrap: wrap;

        h3{
            background-color: red;
            border-radius: 30px;
        }

        h2 {
 margin: 1%;
            width: 100%;
        }
        .producto {
            width: 33.33%;
            text-align: center;
            padding: 15px 20px;
            .img {
                padding: 10px 0px;
                img {
                    height: 300px;
                }
            }
            p {
                margin: 10px 0;
            }
        }
    }


     #resultado {
      width: 75%;
        display: flex;
        flex-wrap: wrap;


        h2 {
             margin: 1%;
            width: 100%;
        }
        .producto {
            width: 33.33%;
            text-align: center;
            padding: 15px 20px;
            .img {
                padding: 10px 0px;
                img {
                    height: 300px;
                }
            }
            p {
                margin: 10px 0;
            }
        }
    }
}